

body {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    box-sizing: border-box;
}

header {
    font-size: 22px; 
    text-align: center; 
}

.calculator {
    background-color: #122620;
    color: #F4EBD0; 
    margin: auto; 
    display: flex;
    flex-direction: column;
}

.display {
    background-color: #F4EBD0; 
    height: 80px; 
    color: #122620; 
    border: #D6AD60; 
    margin: 10px; 
    border-style: solid; 
    border-width: 5px; 
    border-radius: 8px; 
}

#btnContainer {
    background-color: #122620;
    color: #D6AD60; 
    padding-top: 5px; 
    padding-left: 10px; 
    padding-right: 10px; 
    display: grid; 
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(80px, auto) repeat(5, 80px); 
}

#clearButton, #deleteButton {
    grid-column: span 2; 
}